.tableRods{
    margin-top: 10px;
    margin-bottom: 50px;
    width: 70%;
    
}
.tableNodes{
    margin-top: 10px;
    margin-bottom: 50px;
    width: 29%;
}
.tableHead{
    background-color: black;
    color: white;
}
.tableTitle{
    margin-top: 15px;
    margin-left: 15px;
    display: flex;
    justify-content: center;
    
}
.action{
    display: flex;
    justify-content: space-around;
}